.ql-products {
  //   margin-left: 146px;
  //   padding: 0 5rem;
}
table,
th,
td {
  border: 1px solid black !important;
}
table {
  margin: 0 auto;
  width: 100%;
}
h3 {
  text-align: right;
  margin-right: 8.5rem;
}
.action {
  display: flex;
  justify-content: end;
  margin-right: 8.5rem;
}
img {
  width: 50px;
  height: 50px;
}
